<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/aggregateFunctions1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [7]:
data=[('Sreya','IT',1500),('Minny','IT',3000),('ABCD','HR',1500)]
schema=['name','department','salary']
df=spark.createDataFrame(data,schema)
df.show()

+-----+----------+------+
| name|department|salary|
+-----+----------+------+
|Sreya|        IT|  1500|
|Minny|        IT|  3000|
| ABCD|        HR|  1500|
+-----+----------+------+

In [11]:
df.select(approx_count_distinct('salary')).show()
df.select(avg('salary')).show()
df.select(collect_list('salary')).show()
df.select(collect_set('salary')).show()
df.select(countDistinct('salary')).show()
df.select(count('salary')).show()
df.select(first('salary')).show()
df.select(last('salary')).show()

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            2|
+-----------------------------+

+-----------+
|avg(salary)|
+-----------+
|     2000.0|
+-----------+

+--------------------+
|collect_list(salary)|
+--------------------+
|  [1500, 3000, 1500]|
+--------------------+

+-------------------+
|collect_set(salary)|
+-------------------+
|       [3000, 1500]|
+-------------------+

+----------------------+
|count(DISTINCT salary)|
+----------------------+
|                     2|
+----------------------+

+-------------+
|count(salary)|
+-------------+
|            3|
+-------------+

+-------------+
|first(salary)|
+-------------+
|         1500|
+-------------+

+------------+
|last(salary)|
+------------+
|        1500|
+------------+