<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/ArrayType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col,lit,array
# Initialize SparkSession
spark = SparkSession.builder.appName("show").getOrCreate()

In [4]:
data=[('abc',[1,2]),('def',[3,4])]
schema=['id','numbers']
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: long (containsNull = true)

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|def| [3, 4]|
+---+-------+

In [5]:
schema1=StructType([StructField('id',StringType()), StructField('numbers',ArrayType(IntegerType()))])
df2=spark.createDataFrame(data,schema1)
df2.printSchema()
df2.show()

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|def| [3, 4]|
+---+-------+

In [10]:
df3=df2.withColumn('firstNum',col('numbers')[0]+1).withColumn('secondNum',df2.numbers[1]+1)
df3.show()

+---+-------+--------+---------+
| id|numbers|firstNum|secondNum|
+---+-------+--------+---------+
|abc| [1, 2]|       2|        3|
|def| [3, 4]|       4|        5|
+---+-------+--------+---------+

In [15]:
data=[(1,3),(2,4)]
schema=['num1','num2']
df4=spark.createDataFrame(data,schema)

df5=df4.withColumn('combined',array(col('num1')*2,col('num2')*2))
df5.show()
df5.printSchema()

+----+----+--------+
|num1|num2|combined|
+----+----+--------+
|   1|   3|  [2, 6]|
|   2|   4|  [4, 8]|
+----+----+--------+

root
 |-- num1: long (nullable = true)
 |-- num2: long (nullable = true)
 |-- combined: array (nullable = false)
 |    |-- element: long (containsNull = true)