<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/columnClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
data=[('Sreya','F',2002),('Srija','F',1999)]
schema=['name','gender','year']
df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+-----+------+----+
| name|gender|year|
+-----+------+----+
|Sreya|     F|2002|
|Srija|     F|1999|
+-----+------+----+

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- year: long (nullable = true)

In [4]:
df1=df.withColumn('Country',lit('India'))
df1.show()

+-----+------+----+-------+
| name|gender|year|Country|
+-----+------+----+-------+
|Sreya|     F|2002|  India|
|Srija|     F|1999|  India|
+-----+------+----+-------+

In [5]:
df1.select(df.gender).show()

+------+
|gender|
+------+
|     F|
|     F|
+------+

In [6]:
df.select(df['gender']).show()

+------+
|gender|
+------+
|     F|
|     F|
+------+

In [7]:
df.select(col('gender')).show()

+------+
|gender|
+------+
|     F|
|     F|
+------+

In [9]:
data=[('Sreya','F',2002,('HDFC','ICICI')),('Srija','F',1999,('SBI','AXIS'))]
bank=StructType([StructField('primary',StringType()),StructField('secondary',StringType())])
schema=StructType([StructField('name',StringType()),StructField('gender',StringType()),StructField('year',IntegerType()),StructField('bank',bank)])
df2=spark.createDataFrame(data,schema)
df2.show()
df2.printSchema()

+-----+------+----+-------------+
| name|gender|year|         bank|
+-----+------+----+-------------+
|Sreya|     F|2002|{HDFC, ICICI}|
|Srija|     F|1999|  {SBI, AXIS}|
+-----+------+----+-------------+

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- bank: struct (nullable = true)
 |    |-- primary: string (nullable = true)
 |    |-- secondary: string (nullable = true)

In [11]:
df2.select(df2.bank.primary).show()

+------------+
|bank.primary|
+------------+
|        HDFC|
|         SBI|
+------------+

In [17]:
df2.select(df2['bank.primary']).show()

+-------+
|primary|
+-------+
|   HDFC|
|    SBI|
+-------+

In [18]:
df2.select(col('bank.primary')).show()

+-------+
|primary|
+-------+
|   HDFC|
|    SBI|
+-------+