<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/distinctAndDropDuplicate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [11]:
data=[(1,'Sreya','F',5000),(1,'Sreya','F',5000),(1,'Sreya','F',5000),(3,'Pavan','M',10000)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
|  1|Sreya|     F|  5000|
|  1|Sreya|     F|  5000|
|  3|Pavan|     M| 10000|
+---+-----+------+------+

## distinct() function

In [12]:
df.distinct().sort(asc(df.id)).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
|  3|Pavan|     M| 10000|
+---+-----+------+------+

# dropDuplicates() function

In [13]:
df1=df.dropDuplicates().sort(asc(df.id)).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
|  3|Pavan|     M| 10000|
+---+-----+------+------+

In [14]:
df.dropDuplicates(['gender','salary']).sort(asc(df.id)).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
|  3|Pavan|     M| 10000|
+---+-----+------+------+