<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/filterAndWhere.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [3]:
data=[(1,'Sreya','F',5000),(2,'abcd','',6000),(3,'Pavan','M',10000)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
|  2| abcd|      |  6000|
|  3|Pavan|     M| 10000|
+---+-----+------+------+

# filter() function

In [6]:
df.filter((df.salary<8000)&(df.gender=='F')).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
+---+-----+------+------+

# where() function

In [10]:
df.where((df.salary<8000)&(df.gender=='F')).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
+---+-----+------+------+