<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/from_jsonToMapType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [6]:
data=[('Sreya',"{'age':22,'experience':1}")]
schema=['name','details']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+-----+-------------------------+
|name |details                  |
+-----+-------------------------+
|Sreya|{'age':22,'experience':1}|
+-----+-------------------------+

root
 |-- name: string (nullable = true)
 |-- details: string (nullable = true)

In [11]:
df1=df.withColumn('detailsMap',from_json(df.details,schema=MapType(StringType(),StringType())))
df1.show(truncate=False)
df1.printSchema()

+-----+-------------------------+----------------------------+
|name |details                  |detailsMap                  |
+-----+-------------------------+----------------------------+
|Sreya|{'age':22,'experience':1}|{age -> 22, experience -> 1}|
+-----+-------------------------+----------------------------+

root
 |-- name: string (nullable = true)
 |-- details: string (nullable = true)
 |-- detailsMap: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [18]:
df2=df1.withColumn('age',df1.detailsMap.age).withColumn('experience',df1.detailsMap.experience)
df2=df2.drop('detailsMap')
df2.show(truncate=False)

+-----+-------------------------+---+----------+
|name |details                  |age|experience|
+-----+-------------------------+---+----------+
|Sreya|{'age':22,'experience':1}|22 |1         |
+-----+-------------------------+---+----------+