<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/functions2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# alias() function

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [3]:
data=[(1,'Sreya','F',5000),(2,'abcd','',6000),(3,'Pavan','M',10000)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
|  2| abcd|      |  6000|
|  3|Pavan|     M| 10000|
+---+-----+------+------+

In [7]:
df1=df.select(df.id.alias('emp_id'),df.name.alias('emp_name'),df.gender.alias('emp_gender'),df.salary.alias('emp_salary'))
df1.show()

+------+--------+----------+----------+
|emp_id|emp_name|emp_gender|emp_salary|
+------+--------+----------+----------+
|     1|   Sreya|         F|      5000|
|     2|    abcd|          |      6000|
|     3|   Pavan|         M|     10000|
+------+--------+----------+----------+

# desc() function

In [10]:
#df2=df1.sort(desc('emp_salary'))
df2=df1.sort(df1.emp_salary.desc())
df2.show()

+------+--------+----------+----------+
|emp_id|emp_name|emp_gender|emp_salary|
+------+--------+----------+----------+
|     3|   Pavan|         M|     10000|
|     2|    abcd|          |      6000|
|     1|   Sreya|         F|      5000|
+------+--------+----------+----------+

asc() function

In [15]:
df3=df2.sort(df2.emp_salary.asc())
df3.show()
df3.printSchema()

+------+--------+----------+----------+
|emp_id|emp_name|emp_gender|emp_salary|
+------+--------+----------+----------+
|     1|   Sreya|         F|      5000|
|     2|    abcd|          |      6000|
|     3|   Pavan|         M|     10000|
+------+--------+----------+----------+

root
 |-- emp_id: long (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- emp_gender: string (nullable = true)
 |-- emp_salary: long (nullable = true)

# cast() function

In [14]:
df4=df3.select(df3.emp_salary.cast('int'))
df4.show()
df4.printSchema()

+----------+
|emp_salary|
+----------+
|      5000|
|      6000|
|     10000|
+----------+

root
 |-- emp_salary: integer (nullable = true)

# like() function

In [18]:
df5=df1.where(df1.emp_name.like('S%'))
df5.show()

+------+--------+----------+----------+
|emp_id|emp_name|emp_gender|emp_salary|
+------+--------+----------+----------+
|     1|   Sreya|         F|      5000|
+------+--------+----------+----------+