<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/globalTempViews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [ ]:
data=[(1,'sreya',2000),(2,'minny',3000)]
schema=['id','name','salary']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|sreya|  2000|
|  2|minny|  3000|
+---+-----+------+

In [ ]:
df.createOrReplaceGlobalTempView('empGlobal')
spark.sql('select * from global_temp.empGlobal').show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|sreya|  2000|
|  2|minny|  3000|
+---+-----+------+

In [ ]:
spark1 = SparkSession.builder.appName("globalTempView").getOrCreate()
spark1.sql('select * from global_temp.empGlobal').show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|sreya|  2000|
|  2|minny|  3000|
+---+-----+------+

In [ ]:
spark.catalog.listTables('global_temp')

[Table(name='empGlobal', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True)]