<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/groupByAgg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
# Sample Data
data = [

    (1, "Bob", "M", 60000, "Engineering"),
    (2, "Carol", "F", 70000, "Engineering"),
    (3, "Dave", "M", 55000, "HR"),
    (4, "Eve", "F", 75000, "Marketing"),
    (5, "Frank", "M", 65000, "Marketing"),
    (6, "Fran", "M", 85000, "Marketing")
]

# Define column names
schema = ["id", "name", "gender", "salary", "department"]

df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+-----------+
| id| name|gender|salary| department|
+---+-----+------+------+-----------+
|  1|  Bob|     M| 60000|Engineering|
|  2|Carol|     F| 70000|Engineering|
|  3| Dave|     M| 55000|         HR|
|  4|  Eve|     F| 75000|  Marketing|
|  5|Frank|     M| 65000|  Marketing|
|  6| Fran|     M| 85000|  Marketing|
+---+-----+------+------+-----------+

In [5]:
df.groupBy('department').agg(count('*').alias('countOfEmps'),min('salary').alias('minSalary'),max('salary').alias('maxSalary')).show()

+-----------+-----------+---------+---------+
| department|countOfEmps|minSalary|maxSalary|
+-----------+-----------+---------+---------+
|Engineering|          2|    60000|    70000|
|         HR|          1|    55000|    55000|
|  Marketing|          3|    65000|    85000|
+-----------+-----------+---------+---------+