<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/groupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [10]:
# Sample Data
data = [

    (1, "Bob", "M", 60000, "Engineering"),
    (2, "Carol", "F", 70000, "Engineering"),
    (3, "Dave", "M", 55000, "HR"),
    (4, "Eve", "F", 75000, "Marketing"),
    (5, "Frank", "M", 65000, "Marketing"),
    (6, "Fran", "M", 85000, "Marketing")
]

# Define column names
schema = ["id", "name", "gender", "salary", "department"]

df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+-----------+
| id| name|gender|salary| department|
+---+-----+------+------+-----------+
|  1|  Bob|     M| 60000|Engineering|
|  2|Carol|     F| 70000|Engineering|
|  3| Dave|     M| 55000|         HR|
|  4|  Eve|     F| 75000|  Marketing|
|  5|Frank|     M| 65000|  Marketing|
|  6| Fran|     M| 85000|  Marketing|
+---+-----+------+------+-----------+

In [11]:
df1=df.groupBy('department').count()
df1.show()

+-----------+-----+
| department|count|
+-----------+-----+
|Engineering|    2|
|         HR|    1|
|  Marketing|    3|
+-----------+-----+

In [12]:
df1=df.groupBy('department').min('salary')
df1.show()

+-----------+-----------+
| department|min(salary)|
+-----------+-----------+
|Engineering|      60000|
|         HR|      55000|
|  Marketing|      65000|
+-----------+-----------+

In [18]:
df1=df.groupBy('department','gender').count()
df1.orderBy(df.department.asc()).show()

+-----------+------+-----+
| department|gender|count|
+-----------+------+-----+
|Engineering|     F|    1|
|Engineering|     M|    1|
|         HR|     M|    1|
|  Marketing|     F|    1|
|  Marketing|     M|    2|
+-----------+------+-----+