<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/mapFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [5]:
data=[('Sreya','Kukutapu'),('Minny','Kukutapu')]
rdd=spark.sparkContext.parallelize(data)
print(rdd.collect())

[('Sreya', 'Kukutapu'), ('Minny', 'Kukutapu')]

In [6]:
rdd1=rdd.map(lambda x: x+(x[0]+" "+x[1],) )
print(rdd1.collect())

[('Sreya', 'Kukutapu', 'Sreya Kukutapu'), ('Minny', 'Kukutapu', 'Minny Kukutapu')]

In [11]:
data=[('Sreya','Kukutapu'),('Minny','Kukutapu')]
df=spark.createDataFrame(data,schema=['fn','ln'])
df.show()
rdd1=df.rdd.map(lambda x: x+(x[0]+" "+x[1],))
print(type(rdd1))
df1=rdd1.toDF(['fn','ln','fullname'])
df1.show()

+-----+--------+
|   fn|      ln|
+-----+--------+
|Sreya|Kukutapu|
|Minny|Kukutapu|
+-----+--------+

<class 'pyspark.rdd.PipelinedRDD'>
+-----+--------+--------------+
|   fn|      ln|      fullname|
+-----+--------+--------------+
|Sreya|Kukutapu|Sreya Kukutapu|
|Minny|Kukutapu|Minny Kukutapu|
+-----+--------+--------------+

In [12]:
def fullname(x):
  return x+(x[0]+' '+x[1], )

data=[('Sreya','Kukutapu'),('Minny','Kukutapu')]
df=spark.createDataFrame(data,schema=['fn','ln'])
rdd1=df.rdd.map(lambda x: fullname(x))
df1=rdd1.toDF(['fn','ln','fullname'])
df1.show()

+-----+--------+--------------+
|   fn|      ln|      fullname|
+-----+--------+--------------+
|Sreya|Kukutapu|Sreya Kukutapu|
|Minny|Kukutapu|Minny Kukutapu|
+-----+--------+--------------+