<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/mapType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
data=[('Sreya',{'age':22,'experience':1}),('Srija',{'age':25,'experience':5})]
schema=['name','details']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+-----+----------------------------+
|name |details                     |
+-----+----------------------------+
|Sreya|{experience -> 1, age -> 22}|
|Srija|{experience -> 5, age -> 25}|
+-----+----------------------------+

root
 |-- name: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: long (valueContainsNull = true)

In [7]:
data=[('Sreya',{'age':22,'experience':1}),('Srija',{'age':25,'experience':5})]
schema=StructType([StructField('name',StringType()),StructField('details',MapType(keyType=StringType(),valueType=IntegerType()))])
df1=spark.createDataFrame(data,schema)
df1.show(truncate=False)
df1.printSchema()

+-----+----------------------------+
|name |details                     |
+-----+----------------------------+
|Sreya|{experience -> 1, age -> 22}|
|Srija|{experience -> 5, age -> 25}|
+-----+----------------------------+

root
 |-- name: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)

In [10]:
#df2=df1.withColumn('age',col('details').getItem('age')).withColumn('experience',col('details').getItem('experience'))
df2=df1.withColumn('age',df1.details['age']).withColumn('experience',df1.details['experience'])
df2.show(truncate=False)

+-----+----------------------------+---+----------+
|name |details                     |age|experience|
+-----+----------------------------+---+----------+
|Sreya|{experience -> 1, age -> 22}|22 |1         |
|Srija|{experience -> 5, age -> 25}|25 |5         |
+-----+----------------------------+---+----------+