<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/MapTypeFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [4]:
data=[('Sreya',{'age':22,'experience':1}),('Srija',{'age':25,'experience':5})]
schema=StructType([StructField('name',StringType()),StructField('details',MapType(keyType=StringType(),valueType=IntegerType()))])
df=spark.createDataFrame(data,schema)
df1=df.select('name','details',explode('details'))
df1.printSchema()
df1.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)
 |-- key: string (nullable = false)
 |-- value: integer (nullable = true)

+-----+----------------------------+----------+-----+
|name |details                     |key       |value|
+-----+----------------------------+----------+-----+
|Sreya|{experience -> 1, age -> 22}|experience|1    |
|Sreya|{experience -> 1, age -> 22}|age       |22   |
|Srija|{experience -> 5, age -> 25}|experience|5    |
|Srija|{experience -> 5, age -> 25}|age       |25   |
+-----+----------------------------+----------+-----+

In [5]:
df2=df.withColumn('keys',map_keys('details')).withColumn('values',map_values('details'))
df2.printSchema()
df2.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)
 |-- keys: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- values: array (nullable = true)
 |    |-- element: integer (containsNull = true)

+-----+----------------------------+-----------------+-------+
|name |details                     |keys             |values |
+-----+----------------------------+-----------------+-------+
|Sreya|{experience -> 1, age -> 22}|[experience, age]|[1, 22]|
|Srija|{experience -> 5, age -> 25}|[experience, age]|[5, 25]|
+-----+----------------------------+-----------------+-------+