<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/nullFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [4]:
data=[(1,'Sreya','F',1000,None),(2,'Minny','F',2000,'IT'),(3,'Joe',None,3000,'HR')]
schema=['id','name','gender','salary','department']
df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-----+------+------+----------+
| id| name|gender|salary|department|
+---+-----+------+------+----------+
|  1|Sreya|     F|  1000|      NULL|
|  2|Minny|     F|  2000|        IT|
|  3|  Joe|  NULL|  3000|        HR|
+---+-----+------+------+----------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)

In [5]:
df.fillna('unknown').show()

+---+-----+-------+------+----------+
| id| name| gender|salary|department|
+---+-----+-------+------+----------+
|  1|Sreya|      F|  1000|   unknown|
|  2|Minny|      F|  2000|        IT|
|  3|  Joe|unknown|  3000|        HR|
+---+-----+-------+------+----------+

In [6]:
df.fillna('unknown',['gender']).show()

+---+-----+-------+------+----------+
| id| name| gender|salary|department|
+---+-----+-------+------+----------+
|  1|Sreya|      F|  1000|      NULL|
|  2|Minny|      F|  2000|        IT|
|  3|  Joe|unknown|  3000|        HR|
+---+-----+-------+------+----------+

In [8]:
df.na.fill('unknown',['department','gender']).show()

+---+-----+-------+------+----------+
| id| name| gender|salary|department|
+---+-----+-------+------+----------+
|  1|Sreya|      F|  1000|   unknown|
|  2|Minny|      F|  2000|        IT|
|  3|  Joe|unknown|  3000|        HR|
+---+-----+-------+------+----------+