<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/partitionBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [4]:
data=[(1,'Sreya','F','IT'),(2,'Minny','F','IT'),(3,'Pavan','M','Self Employed')]
schema=['id','name','gender','dep']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+-------------+
| id| name|gender|          dep|
+---+-----+------+-------------+
|  1|Sreya|     F|           IT|
|  2|Minny|     F|           IT|
|  3|Pavan|     M|Self Employed|
+---+-----+------+-------------+

In [8]:
df.write.parquet(path='/content/drive/MyDrive/Colab Notebooks/parttionBy.parquet',partitionBy='dep',mode='overwrite')

In [10]:
schema = StructType([
    StructField("id", LongType(), True),  # Changed to LongType
    StructField("name", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("dep", StringType(), True)
])

df = spark.read.schema(schema).parquet("/content/drive/MyDrive/Colab Notebooks/parttionBy.parquet")
df.show()

+---+-----+------+-------------+
| id| name|gender|          dep|
+---+-----+------+-------------+
|  2|Minny|     F|           IT|
|  1|Sreya|     F|           IT|
|  3|Pavan|     M|Self Employed|
+---+-----+------+-------------+

In [11]:
df = spark.read.schema(schema).parquet("/content/drive/MyDrive/Colab Notebooks/parttionBy.parquet/dep=IT")
df.show()

+---+-----+------+----+
| id| name|gender| dep|
+---+-----+------+----+
|  2|Minny|     F|NULL|
|  1|Sreya|     F|NULL|
+---+-----+------+----+