<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [7]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("department", StringType(), True)
])

# Data
data = [
    (1, "Alice Johnson", "F", "Finance"),
    (2, "Bob Smith", "M", "Engineering"),
    (3, "Cathy Lee", "F", "Engineering"),
    (4, "David Brown", "M", "Finance"),
    (5, "Ella Martinez", "F", "Engineering"),
    (6, "Frank Adams", "M", "Engineering"),
    (7, "Grace Kim", "F", "Finance"),
    (8, "Henry Turner", "M", "Finance")
]
# Create DataFrame
df = spark.createDataFrame(data, schema=schema)

# Show DataFrame
df.show()

+---+-------------+------+-----------+
| id|         name|gender| department|
+---+-------------+------+-----------+
|  1|Alice Johnson|     F|    Finance|
|  2|    Bob Smith|     M|Engineering|
|  3|    Cathy Lee|     F|Engineering|
|  4|  David Brown|     M|    Finance|
|  5|Ella Martinez|     F|Engineering|
|  6|  Frank Adams|     M|Engineering|
|  7|    Grace Kim|     F|    Finance|
|  8| Henry Turner|     M|    Finance|
+---+-------------+------+-----------+

In [6]:
df.groupBy('department','gender').count().show()

+-----------+------+-----+
| department|gender|count|
+-----------+------+-----+
|    Finance|     F|    2|
|Engineering|     F|    2|
|    Finance|     M|    2|
|Engineering|     M|    2|
+-----------+------+-----+

In [9]:
df.groupBy('department').pivot('gender').count().show()

+-----------+---+---+
| department|  F|  M|
+-----------+---+---+
|Engineering|  2|  2|
|    Finance|  2|  2|
+-----------+---+---+

In [12]:
df.groupBy('department').pivot('gender',['M']).count().show()

+-----------+---+
| department|  M|
+-----------+---+
|Engineering|  2|
|    Finance|  2|
+-----------+---+