<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/rankingFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window
spark = SparkSession.builder.appName("show").getOrCreate()

In [18]:
schema=['name','dep','salary']
data = [
    ("Alice", "IT", 50000),
    ("Bob", "IT", 50000),
    ("Charlie", "Sales", 45000),
    ("David", "Marketing", 70000),
    ("Eve", "Sales", 85000),
    ("Jona", "Marketing", 70000),
    ("Frank", "Sales", 75000),
    ("Gill", "Marketing", 62000),
    ("Hailey", "Sales", 75000)
]
df=spark.createDataFrame(data,schema)
df.sort('dep').show()

+-------+---------+------+
|   name|      dep|salary|
+-------+---------+------+
|  Alice|       IT| 50000|
|    Bob|       IT| 50000|
|   Jona|Marketing| 70000|
|  David|Marketing| 70000|
|   Gill|Marketing| 62000|
|Charlie|    Sales| 45000|
|    Eve|    Sales| 85000|
|  Frank|    Sales| 75000|
| Hailey|    Sales| 75000|
+-------+---------+------+

# row_number()

In [19]:
window=Window.partitionBy('dep').orderBy('salary')
df.withColumn('rowNumber',row_number().over(window)).show()

+-------+---------+------+---------+
|   name|      dep|salary|rowNumber|
+-------+---------+------+---------+
|  Alice|       IT| 50000|        1|
|    Bob|       IT| 50000|        2|
|   Gill|Marketing| 62000|        1|
|  David|Marketing| 70000|        2|
|   Jona|Marketing| 70000|        3|
|Charlie|    Sales| 45000|        1|
|  Frank|    Sales| 75000|        2|
| Hailey|    Sales| 75000|        3|
|    Eve|    Sales| 85000|        4|
+-------+---------+------+---------+

# rank()

In [20]:
df.withColumn('Rank',rank().over(window)).show()

+-------+---------+------+----+
|   name|      dep|salary|Rank|
+-------+---------+------+----+
|  Alice|       IT| 50000|   1|
|    Bob|       IT| 50000|   1|
|   Gill|Marketing| 62000|   1|
|  David|Marketing| 70000|   2|
|   Jona|Marketing| 70000|   2|
|Charlie|    Sales| 45000|   1|
|  Frank|    Sales| 75000|   2|
| Hailey|    Sales| 75000|   2|
|    Eve|    Sales| 85000|   4|
+-------+---------+------+----+

# dense_rank()

In [21]:
df.withColumn('dense_rank',dense_rank().over(window)).show()

+-------+---------+------+----------+
|   name|      dep|salary|dense_rank|
+-------+---------+------+----------+
|  Alice|       IT| 50000|         1|
|    Bob|       IT| 50000|         1|
|   Gill|Marketing| 62000|         1|
|  David|Marketing| 70000|         2|
|   Jona|Marketing| 70000|         2|
|Charlie|    Sales| 45000|         1|
|  Frank|    Sales| 75000|         2|
| Hailey|    Sales| 75000|         2|
|    Eve|    Sales| 85000|         3|
+-------+---------+------+----------+