<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/RDDtoDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [5]:
data=[(1,'Sreya',20000),(2,'Minny',30000)]
rdd=spark.sparkContext.parallelize(data)
print(type(rdd))

<class 'pyspark.rdd.RDD'>

In [6]:
print(rdd.collect())

[(1, 'Sreya', 20000), (2, 'Minny', 30000)]

In [9]:
df=rdd.toDF(schema=['id','name','salary'])
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Sreya| 20000|
|  2|Minny| 30000|
+---+-----+------+

In [10]:
df=spark.createDataFrame(rdd,schema=['id','name','salary'])
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Sreya| 20000|
|  2|Minny| 30000|
+---+-----+------+