<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/ReadCSVfiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark=SparkSession.builder.master("local").appName("dataframe").getOrCreate()

In [14]:
schema=StructType([StructField(name='id',dataType=IntegerType()),StructField(name='name',dataType=StringType()),StructField(name='age',dataType=IntegerType()),StructField(name='friendsCount',dataType=IntegerType())])
df=spark.read.csv(path='/content/drive/MyDrive/Colab Notebooks/fakefriends.csv',schema=schema)
display(df)
df.show()

DataFrame[id: int, name: string, age: int, friendsCount: int]

+---+--------+---+------------+
| id|    name|age|friendsCount|
+---+--------+---+------------+
|  0|    Will| 33|         385|
|  1|Jean-Luc| 26|           2|
|  2|    Hugh| 55|         221|
|  3|  Deanna| 40|         465|
|  4|   Quark| 68|          21|
|  5|  Weyoun| 59|         318|
|  6|  Gowron| 37|         220|
|  7|    Will| 54|         307|
|  8|  Jadzia| 38|         380|
|  9|    Hugh| 27|         181|
| 10|     Odo| 53|         191|
| 11|     Ben| 57|         372|
| 12|   Keiko| 54|         253|
| 13|Jean-Luc| 56|         444|
| 14|    Hugh| 43|          49|
| 15|     Rom| 36|          49|
| 16|  Weyoun| 22|         323|
| 17|     Odo| 35|          13|
| 18|Jean-Luc| 45|         455|
| 19|  Geordi| 60|         246|
+---+--------+---+------------+
only showing top 20 rows

In [16]:
df=spark.read.format('csv').schema(schema).load('/content/drive/MyDrive/Colab Notebooks/fakefriends.csv')
df.show()

+---+--------+---+------------+
| id|    name|age|friendsCount|
+---+--------+---+------------+
|  0|    Will| 33|         385|
|  1|Jean-Luc| 26|           2|
|  2|    Hugh| 55|         221|
|  3|  Deanna| 40|         465|
|  4|   Quark| 68|          21|
|  5|  Weyoun| 59|         318|
|  6|  Gowron| 37|         220|
|  7|    Will| 54|         307|
|  8|  Jadzia| 38|         380|
|  9|    Hugh| 27|         181|
| 10|     Odo| 53|         191|
| 11|     Ben| 57|         372|
| 12|   Keiko| 54|         253|
| 13|Jean-Luc| 56|         444|
| 14|    Hugh| 43|          49|
| 15|     Rom| 36|          49|
| 16|  Weyoun| 22|         323|
| 17|     Odo| 35|          13|
| 18|Jean-Luc| 45|         455|
| 19|  Geordi| 60|         246|
+---+--------+---+------------+
only showing top 20 rows