<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/readJsonintoDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark=SparkSession.builder.master("local").appName('readjson'). getOrCreate()

df=spark.read.json('/content/drive/MyDrive/Colab Notebooks/employee.json',multiLine=True)
df.printSchema()
df.show()

root
 |-- age: long (nullable = true)
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)

+---+------+------------+
|age|emp_id|        name|
+---+------+------------+
| 30|   101|    John Doe|
| 25|   102|  Jane Smith|
| 35|   103|Robert Brown|
+---+------+------------+

In [ ]:

schema = StructType([
    StructField("emp_id", IntegerType(), True),  # emp_id: Integer, nullable
    StructField("name", StringType(), True),    # name: String, nullable
    StructField("age", IntegerType(), True)     # age: Integer, nullable
])
df2=spark.read.schema(schema).json('/content/drive/MyDrive/Colab Notebooks/employee.json',multiLine=True)
df2.printSchema()
df2.show()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

+------+------------+---+
|emp_id|        name|age|
+------+------------+---+
|   101|    John Doe| 30|
|   102|  Jane Smith| 25|
|   103|Robert Brown| 35|
+------+------------+---+