<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/rowClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [ ]:
row=Row('Sreya',2002)
print(row[0]+' '+str(row[1]))

Sreya 2002

In [ ]:
row=Row(name='Sreya',year=2002)
print(row['name']+' '+str(row['year']))
print(row.name+' '+str(row.year))

Sreya 2002
Sreya 2002

In [ ]:
row1=Row(name='Sreya',year=2002)
row2=Row(name='Srija',year=1999)
data=[row1,row2]
df=spark.createDataFrame(data)
df.show()
df.printSchema()
df1=df.withColumn('year',col('year').cast(IntegerType()))
df1.printSchema()

+-----+----+
| name|year|
+-----+----+
|Sreya|2002|
|Srija|1999|
+-----+----+

root
 |-- name: string (nullable = true)
 |-- year: long (nullable = true)

root
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)

In [ ]:
person=Row('name','salary')
p1=person('Sreya',28000)
p2=person('Srija',90000)
print(p1.name+' '+str(p1.salary))
print(p2.name+' '+str(p2.salary))
data=[p1,p2]
df=spark.createDataFrame(data)
df.show()
df.printSchema()

Sreya 28000
Srija 90000
+-----+------+
| name|salary|
+-----+------+
|Sreya| 28000|
|Srija| 90000|
+-----+------+

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)