<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/selectFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
data1=[(1,'Sreya','F'),(2,'abcd','F'),(3,'yyyy','M'),(4,'Sya','F')]
schema1=['id','name','gender']

df=spark.createDataFrame(data1,schema1)

df.show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
+---+-----+------+

In [4]:
df.select('id','name').show()
df.select(df.id,df.name).show()
df.select(col('id'),col('name')).show()
df.select(df['id'],df['name']).show()
df.select(['id','name']).show()

+---+-----+
| id| name|
+---+-----+
|  1|Sreya|
|  2| abcd|
|  3| yyyy|
|  4|  Sya|
+---+-----+

+---+-----+
| id| name|
+---+-----+
|  1|Sreya|
|  2| abcd|
|  3| yyyy|
|  4|  Sya|
+---+-----+

+---+-----+
| id| name|
+---+-----+
|  1|Sreya|
|  2| abcd|
|  3| yyyy|
|  4|  Sya|
+---+-----+

+---+-----+
| id| name|
+---+-----+
|  1|Sreya|
|  2| abcd|
|  3| yyyy|
|  4|  Sya|
+---+-----+

+---+-----+
| id| name|
+---+-----+
|  1|Sreya|
|  2| abcd|
|  3| yyyy|
|  4|  Sya|
+---+-----+