<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/show.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Initialize SparkSession
spark = SparkSession.builder.appName("show").getOrCreate()

# Define the schema
schema=['id','comments']
data=[(1,'xxxxxcccistoydoydoydoydi22$579ydo'),(2,'uxkxgxyxiydyodiys58e58s7tsutsydyd')]
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- comments: string (nullable = true)

+---+--------------------+
| id|            comments|
+---+--------------------+
|  1|xxxxxcccistoydoyd...|
|  2|uxkxgxyxiydyodiys...|
+---+--------------------+

In [5]:
df.show(truncate=False)
df.show(truncate=5)

+---+---------------------------------+
|id |comments                         |
+---+---------------------------------+
|1  |xxxxxcccistoydoydoydoydi22$579ydo|
|2  |uxkxgxyxiydyodiys58e58s7tsutsydyd|
+---+---------------------------------+

+---+--------+
| id|comments|
+---+--------+
|  1|   xx...|
|  2|   ux...|
+---+--------+

In [3]:
df.show(n=1, truncate=False)

+---+---------------------------------+
|id |comments                         |
+---+---------------------------------+
|1  |xxxxxcccistoydoydoydoydi22$579ydo|
+---+---------------------------------+
only showing top 1 row

In [4]:
df.show(n=1, truncate=False, vertical=True)

-RECORD 0-------------------------------------
 id       | 1
 comments | xxxxxcccistoydoydoydoydi22$579ydo
only showing top 1 row