<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/sortAnd_OrderBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [ ]:
data=[(1,'Sreya','F',5000,'Employee'),(2,'abcd','F',6000,'xxxx'),(3,'Pavan','M',10000,'Business')]
schema=['id','name','gender','salary','occupation']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+----------+
| id| name|gender|salary|occupation|
+---+-----+------+------+----------+
|  1|Sreya|     F|  5000|  Employee|
|  2| abcd|     F|  6000|      xxxx|
|  3|Pavan|     M| 10000|  Business|
+---+-----+------+------+----------+

In [ ]:
# df.sort('occupation').show()
df1=df.sort(df.occupation).show()

+---+-----+------+------+----------+
| id| name|gender|salary|occupation|
+---+-----+------+------+----------+
|  3|Pavan|     M| 10000|  Business|
|  1|Sreya|     F|  5000|  Employee|
|  2| abcd|     F|  6000|      xxxx|
+---+-----+------+------+----------+

# orderBy()

In [ ]:
df2=df.orderBy(df.occupation).show()
df3=df.orderBy(df.occupation.desc(),df.id).show()

+---+-----+------+------+----------+
| id| name|gender|salary|occupation|
+---+-----+------+------+----------+
|  3|Pavan|     M| 10000|  Business|
|  1|Sreya|     F|  5000|  Employee|
|  2| abcd|     F|  6000|      xxxx|
+---+-----+------+------+----------+

+---+-----+------+------+----------+
| id| name|gender|salary|occupation|
+---+-----+------+------+----------+
|  2| abcd|     F|  6000|      xxxx|
|  1|Sreya|     F|  5000|  Employee|
|  3|Pavan|     M| 10000|  Business|
+---+-----+------+------+----------+