<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/tempView.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
data=[(1,'sreya',2000),(2,'minny',3000)]
schema=['id','name','salary']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|sreya|  2000|
|  2|minny|  3000|
+---+-----+------+

In [6]:
df.createOrReplaceTempView('employee')
df1=spark.sql('select id,upper(name),salary*2 as double_salary from employee')
df1.show()

+---+-----------+-------------+
| id|upper(name)|double_salary|
+---+-----------+-------------+
|  1|      SREYA|         4000|
|  2|      MINNY|         6000|
+---+-----------+-------------+