<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/unionByName.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [ ]:
data1=[(1,'Sreya','F'),(2,'abcd','F'),(3,'yyyy','M'),(4,'Sya','F')]
schema1=['id','name','gender']
data2=[(4,'Sya',2000),(5,'xyz',6000),(6,'def',8999)]
schema2=['id','name','salary']
df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)
df1.show()
df2.show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
+---+-----+------+

+---+----+------+
| id|name|salary|
+---+----+------+
|  4| Sya|  2000|
|  5| xyz|  6000|
|  6| def|  8999|
+---+----+------+

In [ ]:
df1.unionByName(allowMissingColumns=True,other=df2).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  NULL|
|  2| abcd|     F|  NULL|
|  3| yyyy|     M|  NULL|
|  4|  Sya|     F|  NULL|
|  4|  Sya|  NULL|  2000|
|  5|  xyz|  NULL|  6000|
|  6|  def|  NULL|  8999|
+---+-----+------+------+