<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/unionAndUnionAll.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [7]:
data1=[(1,'Sreya','F'),(2,'abcd','F'),(3,'yyyy','M'),(4,'Sya','F')]
schema1=['id','name','gender']
data2=[(4,'Sya','F'),(5,'xyz','F'),(6,'def','M')]
schema2=['id','name','gender']
df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)
df1.show()
df2.show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
+---+-----+------+

+---+----+------+
| id|name|gender|
+---+----+------+
|  4| Sya|     F|
|  5| xyz|     F|
|  6| def|     M|
+---+----+------+

# union() funtion

In [9]:
df3=df1.union(df2)
df3.show()
df3=df1.union(df2).union(df1)
df3.show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
|  4|  Sya|     F|
|  5|  xyz|     F|
|  6|  def|     M|
+---+-----+------+

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
|  4|  Sya|     F|
|  5|  xyz|     F|
|  6|  def|     M|
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
+---+-----+------+

## unionAll()

In [10]:
df3=df1.unionAll(df2)
df3.show()
df3=df1.unionAll(df2).union(df1)
df3.show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
|  4|  Sya|     F|
|  5|  xyz|     F|
|  6|  def|     M|
+---+-----+------+

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
|  4|  Sya|     F|
|  5|  xyz|     F|
|  6|  def|     M|
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
+---+-----+------+

In [12]:
df3=df1.unionAll(df2).union(df1)
df3.distinct().orderBy(df3.id).show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Sreya|     F|
|  2| abcd|     F|
|  3| yyyy|     M|
|  4|  Sya|     F|
|  5|  xyz|     F|
|  6|  def|     M|
+---+-----+------+