<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/unpivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
data=[('IT',8,5),('payroll',3,2),('HR',2,4)]
schema=['dep','maleCount','femaleCount']
df=spark.createDataFrame(data,schema)
df.show()

+-------+---------+-----------+
|    dep|maleCount|femaleCount|
+-------+---------+-----------+
|     IT|        8|          5|
|payroll|        3|          2|
|     HR|        2|          4|
+-------+---------+-----------+

In [3]:
unpivotDf=df.select('dep',expr("stack(2,'male',maleCount,'female',femaleCount) as (gender,count)"))
unpivotDf.show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|  male|    8|
|     IT|female|    5|
|payroll|  male|    3|
|payroll|female|    2|
|     HR|  male|    2|
|     HR|female|    4|
+-------+------+-----+