<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/whenFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
data=[(1,'Sreya','F',5000),(2,'abcd','',6000),(3,'Pavan','M',10000)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Sreya|     F|  5000|
|  2| abcd|      |  6000|
|  3|Pavan|     M| 10000|
+---+-----+------+------+

In [8]:
df1=df.select('id','name',\
              when(df['gender']=='M','male').\
              when(df['gender']=='F','female').\
              otherwise('unknown').\
              alias('gender'),\
              'salary')
df1.show()

+---+-----+-------+------+
| id| name| gender|salary|
+---+-----+-------+------+
|  1|Sreya| female|  5000|
|  2| abcd|unknown|  6000|
|  3|Pavan|   male| 10000|
+---+-----+-------+------+