<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/withColumnRenaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col,lit
# Initialize SparkSession
spark = SparkSession.builder.appName("show").getOrCreate()

# Define the schema
schema=['id','name','salary']
data=[(1,'Sreya',28000),(2,'Srija',85000)]
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Sreya| 28000|
|  2|Srija| 85000|
+---+-----+------+

In [ ]:
df2=df.withColumnRenamed('salary','my_salary')
df2.printSchema()
df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- my_salary: long (nullable = true)

+---+-----+---------+
| id| name|my_salary|
+---+-----+---------+
|  1|Sreya|    28000|
|  2|Srija|    85000|
+---+-----+---------+