<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/withColumn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col,lit
# Initialize SparkSession
spark = SparkSession.builder.appName("show").getOrCreate()

# Define the schema
schema=['id','name','salary']
data=[(1,'Sreya',28000),(2,'Srija',85000)]
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Sreya| 28000|
|  2|Srija| 85000|
+---+-----+------+

In [5]:
df1=df.withColumn(colName='salary',col=col('salary').cast('Integer'))
df1.show()
df1.printSchema()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Sreya| 28000|
|  2|Srija| 85000|
+---+-----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
df2=df1.withColumn(colName='salary',col=col('salary')*2)
df2.show()
df2.printSchema()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Sreya| 56000|
|  2|Srija|170000|
+---+-----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [15]:
df3=df2.withColumn('country',lit('india'))
df3.show()
df3.printSchema()

+---+-----+------+-------+
| id| name|salary|country|
+---+-----+------+-------+
|  1|Sreya| 56000|  india|
|  2|Srija|170000|  india|
+---+-----+------+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- country: string (nullable = false)

In [16]:
df4=df3.withColumn('copiedSalary',col('salary'))
df4.printSchema()
df4.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- country: string (nullable = false)
 |-- copiedSalary: integer (nullable = true)

+---+-----+------+-------+------------+
| id| name|salary|country|copiedSalary|
+---+-----+------+-------+------------+
|  1|Sreya| 56000|  india|       56000|
|  2|Srija|170000|  india|      170000|
+---+-----+------+-------+------------+