<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/writeDFintoJSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Initialize SparkSession
spark = SparkSession.builder.appName("WriteDFintoJSOn").getOrCreate()

# Define the schema
schema = StructType([
    StructField("emp_id", IntegerType(), True),  # emp_id as Integer, nullable
    StructField("name", StringType(), True),    # name as String, nullable
    StructField("age", IntegerType(), True)     # age as Integer, nullable
])
data=[(1,'Sreya',22),(2,'Minny',22)]
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

+------+-----+---+
|emp_id| name|age|
+------+-----+---+
|     1|Sreya| 22|
|     2|Minny| 22|
+------+-----+---+

In [ ]:
df.write.json('/content/drive/MyDrive/Colab Notebooks/employee1.json',mode='overwrite')

In [ ]:
df1=spark.read.json('/content/drive/MyDrive/Colab Notebooks/employee1.json')
df1.show()

+---+------+-----+
|age|emp_id| name|
+---+------+-----+
| 22|     1|Sreya|
| 22|     2|Minny|
+---+------+-----+