<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Pyspark/blob/main/writeDFtoParquet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Initialize SparkSession
spark = SparkSession.builder.appName("writeDftoParquet").getOrCreate()

# Define the schema
schema = StructType([
    StructField("emp_id", IntegerType(), True),  # emp_id as Integer, nullable
    StructField("name", StringType(), True),    # name as String, nullable
    StructField("age", IntegerType(), True)     # age as Integer, nullable
])
data=[(1,'Sreya',22),(2,'Srija',26)]
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

+------+-----+---+
|emp_id| name|age|
+------+-----+---+
|     1|Sreya| 22|
|     2|Srija| 26|
+------+-----+---+

In [11]:
df.write.parquet('/content/drive/MyDrive/Colab Notebooks/emp_par.parquet',mode='overwrite')

In [12]:
df_read=spark.read.parquet('/content/drive/MyDrive/Colab Notebooks/emp_par.parquet')
df_read.show()

+------+-----+---+
|emp_id| name|age|
+------+-----+---+
|     1|Sreya| 22|
|     2|Srija| 26|
+------+-----+---+

In [13]:
df.write.parquet('/content/drive/MyDrive/Colab Notebooks/emp_par.parquet',mode='append')

In [14]:
df_read=spark.read.parquet('/content/drive/MyDrive/Colab Notebooks/emp_par.parquet')
df_read.show()

+------+-----+---+
|emp_id| name|age|
+------+-----+---+
|     1|Sreya| 22|
|     2|Srija| 26|
|     1|Sreya| 22|
|     2|Srija| 26|
+------+-----+---+